<ion-view view-title="Farmer Survey">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content>

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name of House Hold</span>
          <input type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Age</span>
          <input type="text" placeholder="Suhr">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile No</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">No. of Children</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-toggle item-stacked-label">
          <span class="input-label">Whether having tractor?</span>
          <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
        </label>
        <label class="item item-toggle item-stacked-label">
          <span class="input-label">Whether having Two wheeler?</span>
          <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">No. of Jersey Cows</span>
          <input type="text" placeholder="john@suhr.com">
        </label>
      </div>

  </ion-content>
</ion-view>
