<ion-view view-title="Families">

  <ion-content class="padding">


    <ion-list show-delete="false" show-reorder="false" can-swipe="false">
      <ion-item ui-sref="app.view({slug:1})" class="item item-icon-right ">
        <i class="icon ion-chevron-right icon-accessory"></i>
        <h2>Bopanna</h2>
        <p>123, first street</p>
      </ion-item>
      <ion-item href="#/detail" class="item item-icon-right ">
        <i class="icon ion-chevron-right icon-accessory"></i>
        <h2>Sandeep</h2>
        <p>124, first street</p>
      </ion-item>

      <ion-item href="#/detail" class="item item-icon-right ">
        <i class="icon ion-chevron-right icon-accessory"></i>
        <h2>Bopanna</h2>
        <p>125, first street</p>
      </ion-item>

      <ion-item href="#/detail" class="item item-icon-right ">
        <i class="icon ion-chevron-right icon-accessory"></i>
        <h2>Bopanna</h2>
        <p>126, first street</p>
      </ion-item>

      <ion-item href="#/detail" class="item item-icon-right ">
        <i class="icon ion-chevron-right icon-accessory"></i>
        <h2>Bopanna</h2>
        <p>Farmer</p>
      </ion-item>


    </ion-list>

  </ion-content>
  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
</ion-view>
